/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::selection {
    background-color: #ff007b;
  }
html {
    font-family: "Roboto", sans-serif;
}
a {
    text-decoration: none;
}
input {
    border: none;
}
input:focus {
    outline: none;
}
button:hover {
    cursor: pointer;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        45deg,
        rgb(25, 25, 25) 50%,
        rgb(40, 40, 40) 50%
    );
    color: rgb(255, 255, 255);
}
.title-site {
    letter-spacing: .2rem;
    margin-bottom: .5rem;
}
.calculImc {
    padding: 4rem;
    background: linear-gradient(
        45deg,
        rgba(150, 0, 75, 0.5) 50%,
        rgba(255, 0, 125, 0.5) 50%
    );
    border-radius: 0 5rem 0 5rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
    transform: scale(1.4);
}
.info {
    position: absolute;
    top: 0;
    right: 0;
    user-select: none;
    padding: .35rem 0;
    padding-right: .5rem;
}
.github {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.6rem;
}
.github:hover * {
    color: #afb5bb;
    fill: #afb5bb;
}
.github span {
    color: #f0f6fc;
    padding-left: 0.4rem;
    font-weight: 500;
}
.github svg {
    fill: #f0f6fc;
}
.input {
    position: relative;
    margin-bottom: 1rem;
}
.error {
    background: rgba(255, 0, 0, 0.5) !important;
}
.input input {
    width: 100%;
    font-size: inherit;
    padding: 0.4rem;
    padding-right: 2rem;
    border-bottom: 0.125rem solid white;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.2);
    color: inherit;
}
.input input:hover {
    border-bottom: 0.125rem solid #ff007b;
}
.input input:focus {
    border-bottom: 0.125rem solid #ff007b;
    background: rgba(255, 0, 123, 0.2);
}
.text-error {
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    transition: height .25s linear .1s;
    height: 0;
}
.animation {
    height: 20px;
}
.btn-ctr {
    display: flex;
    justify-content: center;
    margin: 0.5rem 0;
}
.bouton {
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 1.3px;
    width: 75%;
    border: none;
    border-radius: 3px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 0.7rem;
    transition: all 0.45s;
    user-select: none;
}
.bouton:hover {
    color: #fff;
    background-color: #ff007b;
}

@media screen and (max-width: 800px) {
    .calculImc {
        transform: scale(1);
    }
}
@media screen and (max-width: 430px) {
    .calculImc {
        transform: scale(0.8);
    }
}
